

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}


.banner{

    background-color: rgb(243, 255, 73);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
background-color: white;
width: 60%;
display: flex;
justify-content: space-around;
border-radius: 20px;
}

.form-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.img-login{
    width: 50%;
}

.img-login img{
   
   
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.form-login{
    padding-top: 20px;
}

.form-login h3{
    padding-top: 34px;
    margin-bottom: 50px;
    font-size: 24px;
    border-bottom: solid 3px  yellow ;
    width: 10%;
}
.form-login input{
    border: none;
   margin-bottom: 26px;
border-bottom: 1px solid rgb(190, 190, 190);
padding-bottom: 14px;
width: 93%;
outline: none;
}
.form-login input:focus ~ i{
    color: rgb(243, 255, 73) ;
}
.submit{
    background-color: rgb(243, 255, 73) ;
    margin-top: 30px;
    border-radius: 7px;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 17px;
   cursor: pointer;
}
.form-login a{
    text-decoration: none;
}
.password input:focus + i {
    color: yellow; /* color when focused */
  }
